USE [IdentityServer]
GO
/****** Object:  StoredProcedure [dbo].[Get_Permission_ByRoleId]    Script Date: 7/20/2025 7:12:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

if exists (select * from sysobjects where id= OBJECT_ID(N'[Get_Permission_ByRoleId]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
begin
	drop procedure [Get_Permission_ByRoleId]
end
GO

CREATE PROCEDURE [dbo].[Get_Permission_ByRoleId] 
    @roleId NVARCHAR(450) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT * 
    FROM  [IdentityServer].[Identity].[Permissions]
    WHERE RoleId = @roleId

END
